/* Font - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* general */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #020043;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  padding: 14px 28px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  line-height: 116.9%;
  border-radius: 12px;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(95%);
}

nav {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

menu {
  list-style: none;
  display: flex;
  column-gap: 23px;
}

menu li a {
  text-decoration: none;
}

.btn-type-2 {
  border: 1px solid var(--text-80, #343268);
}

/* banner */
.banner {
  margin: 50px auto;
  height: 470px;
  border-radius: 48px;
  background: linear-gradient(
      179deg,
      rgba(0, 193, 157, 0) -25.42%,
      rgba(2, 0, 67, 0.47) 107.11%
    ),
    url("./resources/media/Rectangle 5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item {
  max-width: 216px;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid rgba(2, 0, 67, 0.2);
}
.item-type-1 {
  background: #fbfbfb;
}
.item-type-2 {
  margin-top: 20px;
  background: #fffff5;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  margin-top: 40px;
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}

.stats-desc {
  font-size: 14px;
  line-height: 21px;
}

.stats-value {
  font-size: 40px;
  font-weight: 600;
  line-height: 116.9%;
}

.avatar-relative {
  border-radius: 50%;
  position: relative;
  margin-left: -15px;
}

.stats-heading {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 116.9%;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "item1 item6 item6 item6 item5"
    "item1 item2 item3 item4 item5";
}

.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

/* who we are */
.section-label {
  border-radius: 25px;
  border: 1px solid #343268;
  background: #fffff5;
  padding: 10px 24px;
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 116.9%;
}

.who-we-are {
  margin: 80px auto;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 28px;
}

.section-text-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}

.section-text-desc {
  margin-top: 16px;
  color: #4d4c7b;
  line-height: 24px;
  max-width: 470px;
}

.btn-type-1 {
  margin-top: 45px;
  background: #ffc637;
  border: none;
}

.section-banner {
  position: relative;
}

.section-highlight-container {
  border-radius: 32px;
  background: #343268;
  padding: 45px 30px;
  max-width: 395px;
  position: absolute;
  bottom: -50px;
  left: -85px;
}
.section-highlight-text {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.section-highlight-desc {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
}

/* service */
.rounded-38 {
  border-radius: 38px;
}
.service {
  margin: 180px auto;
  padding: 40px;
  border-radius: 32px;
  background: #fffff5;
}

.section-label-2 {
  border-radius: 32px;
  border: 1px solid #4d4c7b;
  background: #fbfbfb;
  text-align: center;
  margin-bottom: 16px;
}

.section-highlight-container-2 {
  min-height: 144px;
  padding: 18px;
  border-radius: 20px;
  opacity: 0.6;
  background: #020043;
  max-width: 321px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-highlight-text-2 {
  color: #fffff5;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
}

.section-highlight-desc-2 {
  color: #fffff5;
  font-size: 12px;
  line-height: 18px;
  max-width: 219px;
}

.section-highlight-desc-container {
  display: flex;
  justify-content: space-between;
}
.arrow-btn {
  padding: 0;
  border-radius: 50%;
}

/* testimonial */
.testimonial-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.testimonial-item {
  padding: 20px;
  border-radius: 16px;
  background: #fffff5;
}

.testimonial-heading {
  font-size: 19px;
  font-weight: 600;
  line-height: 28.5px;
}

.testimonial-desc {
  margin: 12px auto 16px;
  color: #4d4c7b;
  font-size: 12px;
  line-height: 18px;
}

.testimonial-author-info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.testimonial-author-name {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}
.testimonial-author-name span {
  color: #4d4c7b;
  font-weight: 400;
}

/* faq */
.faq {
  margin: 160px auto;
}

details {
  margin: 12px auto;
}

summary {
  border-radius: 8px;
  background: #fffff5;
  padding: 20px 45px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: all 500ms ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after,
details[open] summary:after {
  content: "^";
  font-size: 30px;
  transition: all 500ms ease-in;
}

details[open] summary {
  margin-bottom: 20px;
}

details[open] summary:after {
  transform: rotate(180deg);
}

details[open] div {
  padding: 0 45px 20px;
  border-radius: 8px;
  background: #fff;
  color: rgba(52, 50, 104, 0.6);
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}

/* banner 2 */
.banner2 {
  border-radius: 32px;
  background: radial-gradient(
      648.07% 142.88% at 98.23% 78.35%,
      #020043 0%,
      rgba(2, 0, 67, 0.3) 100%
    ),
    url("./resources/media/Rectangle\ 32.png");
  padding: 60px;
}

.banner2-heading {
  color: #fffff5;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

.banner2-btn-group {
  display: flex;
  gap: 22px;
  align-items: center;
  margin-top: 24px;
}

.btn-type-3 {
  background-color: transparent;
  color: whitesmoke;
}

/* footer */
footer {
  margin-top: 180px;
  background-color: #020043;
  padding: 120px 0;
}

.footer-content-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 40% 20% 20% 20%);
}

.footer-content,
.footer-content * {
  color: #fffff5;
  line-height: 24px;
}

.footer-nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 264%;
  text-transform: capitalize;
  opacity: 80%;
  display: flex;
}

.footer-social-links span {
  font-size: 14px;
  font-weight: 600;
  line-height: 294%;
}
