/* Font - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #020043;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  padding: 14px 28px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  line-height: 116.9%;
  border-radius: 12px;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(95%);
}

/* header */
/* body {
  background-image: url("./resources/media/Group\ 21.png"),
    url("./resources/media/Group\ 20.png");
  background-repeat: no-repeat;
  background-position: left -21% top, right -21% top;
} */

nav {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

menu {
  list-style: none;
  display: flex;
  column-gap: 23px;
}

menu li a {
  text-decoration: none;
}

.btn-type-2 {
  border: 1px solid var(--text-80, #343268);
}

/* banner */
.banner {
  margin: 50px auto;
  height: 470px;
  border-radius: 48px;
  background: linear-gradient(
      179deg,
      rgba(0, 193, 157, 0) -25.42%,
      rgba(2, 0, 67, 0.47) 107.11%
    ),
    url("./resources/media/Rectangle 5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
